* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant", sans-serif;
}

.section-banner {
  font-family: "Ysabeau Infant", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-banner video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-info img {
  width: 200px;
  height: 200px;
  gap: 20px;
  border-radius: 100%;
}

.borda-gradiente {
  width: 215px;
  height: 215px;
  gap: 20px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-info {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-info h1 {
  position: relative;
  text-align: center;
  font-size: 50px;
}

.container-info h1::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 5px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  bottom: 2px;
  left: 5px;
  border-radius: 4px;
}

.container-info h1::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: -20px;
  background-image: url("../public/assets/verificado.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.container-links {
  width: 768px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.efeito-sombra {
  font-size: 74px;
  color: #fff;
  text-shadow: 3px 6px 1px #000000;
}

.container-links {
  max-width: 768px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container-links a {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;

  border-radius: 20px;
  background-color: #0200006e;
  color: #fff;
}

.container-links a:hover {
  background-color: #fff;
  color: #000;
}

.container-links p {
  width: 90%;
}

.links img {
  width: 30px;
}

.section-estatistica {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-family: "Monstserrat", sans-serif;

  background-image: url("../public/assets/imagem-de-fundo.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.tabela-estatistica th {
  font-size: 26px;
  background-color: #000000cc;
  color: #ffff;
  text-shadow: 2px 2px 1px #000000;
}

.tabela-estatistica th,
tr,
td {
  padding: 20px;
}

.primeira-coluna td {
  display: flex;
  flex-direction: row;
  justify-content: center;
  aligm-items: center;
}

.primeira-coluna img {
  width: 30px;
}

.tabela-estatistica tbody td:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabela-estatistica tbody tr:nth-of-type(odd) {
  background-color: #ffffffcc;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.tabela-estatistica tbody tr:nth-of-type(even) {
  background-color: #000000cc;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}